  <% if @sheep.uginuce != nil%>
  <div class="panel panel-default" id="panel7">
    <div class="panel-heading">
      <h3 class="page_red">
        Uginula dana <%= @sheep.uginuce.activity.show_date %>
        <a data-toggle="collapse" data-target="#collapse7" 
           href="#collapse7" >
          
        </a>
      </h3>
    </div>
    <div id="collapse7" class="panel-collapse collapse in">
      <div class="panel-body">
          <h4>- <%= @sheep.uginuce.activity.comment %></h4>
      </div>
    </div>
  </div>
  <% end %>