  <div class="panel panel-default" id="panel1">
    <div class="panel-heading">
      <h3 class="page_title">
      <h2>Ovca: <strong class='page_title'><%= @sheep.nickname %></strong>, oznaka: <%= @sheep.code %> </h2>
      <h3><%= @sheep.percent_of_r %>% romanov</h3>
      <h3 class='status'>Status: <%= @sheep.status%></h3>
      <p>--------------------------------------------------------<p>

      </h3>
    </div>

  </div>
  
