

  <table id='sheep_row'  style="display: none;" class='table table-hover'>
    <thead>
      <tr class='info'><th class="col-sm-2"><a></a>
         ojagnjila
         <select class='lambNum btn'>
              <option value='0'>0</option>
              <option value='1'>1</option>
              <option value='2'>2</option>
              <option value='3'>3</option>
              <option value='4'>4</option>
              <option value='5'>5</option>
              <option value='6'>6</option>
              <option value='7'>7</option>
         </select>
         
      </th><th class="col-sm-1">pol</th><th class="col-sm-1">tezina u kg</th>
        <th class="col-sm-1">zivo?</th><th class="col-sm-3">opis jagnjeta</th>
        <th class="col-sm-3">problemi</th></tr>
    </thead>
    
    <tbody class='lambing_list'> 

    </tbody>
  </table> 



