<h3>Prodaje ovaca <% if @sellings.count==0 %> nije bilo </h3>
<% else %></h3>
<br>
<table class="table table-hover">
  <thead>
    <tr class='danger'>
      <th class="col-sm-2">Datum</th>
      <th class="col-sm-1">broj ovaca</th>
      <th class="col-sm-1">ukupni prihod</th>
      <th class="col-sm-3">opste zapazanje</th>
      <th class="col-sm-1"></th>
    </tr>
  </thead>

  <tbody>
    <% @sellings.each do |sp| %>
      <tr>
        <td><%= sp.show_date %></td>
        <td><strong><%= sp.sheep_sellings.count %></strong></td>
        <td><%= sp.total_costs%></td>
        <td><%= sp.comment %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>