 
<h1 class='page_title'>Kreiranje izvestaja</h1>
<br>
 
 <form name="input" action="/report_new" method="get">
 <strong>od </strong> <input type="text" data-behaviour='datepicker' data-format="YYYY/MM/DD" name='start_date'>
 <strong> do</strong> <input type="text" data-behaviour='datepicker' data-format="YYYY/MM/DD" name='end_date'>
   
<input type="submit" value="Napravi">
</form>
 
 