<%# add navigation links to this file %>
<li><%= link_to 'Ovce', '/sheep' %></li>
<li><%= link_to 'aktivnosti', activities_path %></li>
<li><%= link_to 'nabaka ovaca', sheep_purchases_path %></li>
<li><%= link_to 'jagnjenja', lambings_path %></li>
